<div class="container">
  <ng-container *ngIf="listCaddy">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>REF</th>
          <th>NOM</th>
          <th>QTE</th>
          <th>MONTANT</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listCaddy">
          <td>{{item.ref}}</td>
          <td>{{item.name}}</td>
          <td>{{item.qty}}</td>
          <td>{{item.sum}}</td>
          <td> <a class="btn btn-danger" (click)="onDelToCart(item)">Supprimer</a></td>
        </tr>
        <tr>
          <td>Total</td>
          <td></td>
          <td></td>
          <td>{{total}}</td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-success" (click)="onToOrder()">Commander</a>
  </ng-container>
</div>
