<div class="container">
  <ng-container *ngIf="listCaddy">
    <table table table-striped table-hover>
      <thead>
        <tr>
          <th>ID</th>
          <th>NOM</th>
          <th>QUANTITE</th>
          <th>MONTANT</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listCaddy">
          <!-- <td>{{item.ref}}</td>
          <td>{{item.name}}</td>
          <td>{{item.qty}}</td>
          <td>{{item.sum}}</td> -->
          <td> <a class="btn btn-danger" >Supprimer</a></td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>