<div class="container">
  <div *ngIf="display else elseBlock">
    <div *ngIf="listCaddy">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>REF</th>
            <th>NOM</th>
            <th>QTE</th>
            <th>PRICE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listCaddy">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price}}</td>
            <td> <a class="btn btn-danger" (click)="onDelToCart(item)">Supprimer</a></td>
          </tr>
          <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td>{{total}}</td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-success" (click)="onToOrder()">Commander</a>.
    </div>
  </div>
  <ng-template #elseBlock>
    <div>
      <h1>Votre panier est vide</h1>
    </div>
  </ng-template>
</div>

