<div class="container padding-bottom-3x mb-1">
  <div *ngIf="display else elseBlock">
    <div *ngIf="listCaddy">
        <!-- Shopping Cart-->
        <div  class="table-responsive shopping-cart">
          <table class="table">
            <thead>
              <tr>
                <th >Products</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Price</th>
                <th class="text-center"><a class="btn btn-sm btn-outline-danger" (click)="clearCart()">Clear
                    Cart</a></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listCaddy">
                <td>
                  <div class="product-item">
                    <a class="product-thumb" href="#"><img src="{{item.imgURL}}"
                        alt="Product"></a>
                    <div class="product-info">
                      <h6 class="product-title">{{item.description}}</h6>
                    </div>
                  </div>
                </td>
                <td class="text-center">{{item.quantity}} </td>
                <td class="text-center text-lg text-medium">{{item.price}} €</td>
                <td class="text-center"><a class="remove-from-cart" (click)="onDelToCart(item)"
                     data-original-title="Remove item"><img class="delete"
                      src="../../../assets/img/delete.png"></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="shopping-cart-footer d-flex">
          <a class="btn btn-success" (click)="onToOrder()">Commander</a>
          <div class="column"><a class="btn btn-outline-secondary" routerLink="/trainings"><i
                class="icon-arrow-left"></i>&nbsp;Back to
              Shopping</a></div>
        </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div>
      <h1>Votre panier est vide</h1>
    </div>
      <div class="column"><a class="btn btn-outline-secondary" routerLink="/trainings"><i
            class="icon-arrow-left"></i>&nbsp;Back to
          Shopping</a></div>
  </ng-template>
</div>
