/* You can add global styles to this file, and also import other style files */
.container {
  margin-top: 70px;
}
li{
cursor: pointer;
}
.home {
  box-shadow: 10px 10px 5px 0px rgba(255, 127, 80, 0.75);
  background-image: url('/assets/img/desktop.jpg');
  background-position: center;
  height: 600px;
}
.img_cart {
  width: 40px;
  height: auto;
  margin-right: 10px;
}
#Caddy{
  position: absolute;
  right: 50px;
}
#qty-cart {
  color: #FFF;
}
.home h1 {
  color: white;
  font-size: 80px;
  text-align: center;
  padding-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0 -1px 4px #FFF,
    0 -2px 10px #ff0,
    0 -10px 20px #ff8000,
    0 -18px 40px #F00;
}

#header {
  background-color: coral;
  margin-bottom: 10px;
  position: sticky !important;
  top: 0px;
  z-index: 10;
}

.card-training {
  box-shadow: 10px 10px 5px 0px rgba(255, 127, 80, 0.75);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 18rem;
}

.logo {
  margin-right: 20px;
  margin-left: 20px;
}

.welcome {
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
}

.error {
  box-shadow: 10px 10px 5px 0px rgba(255, 127, 80, 0.75);
}

table, tr,td{
  border: none;
}
table th{
  font-size: 20px;
}
.order {
  padding-top: 15px;
}

.orderCard {
  max-width: 900px;
}
.delete{
   width: 40px;
   cursor: pointer;
}
.column{
  margin-left: 20px;
}
/* bouton ajout panier */
/* #addCaddy:hover {
  background: #272727;
  color: white;
} */

/* #addCaddy {
  background-color: #ff7f50;
  border: 2px solid #272727;
  border-radius: 0;
} */
/* ************* */


.cart-button {
  position: relative;
  /* outline: 0; */
  background-color: #ff7f50;
  color: #fff;
  border-radius: 5px;
  height: 48px;
  padding: 10px;
  /* line-height: 0px; */
  overflow: hidden
}

.cart-button:focus {
  outline: none !important
}

.cart-button .fa-plus {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 22%;
  font-size: 1.2em;
  transform: translate(-50%, -50%)
}

.cart-button .fa-circle-thin {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -20%;
  font-size: 1.5em;
  transform: translate(-50%, -50%)
}

.cart-button .fa-check {
  position: absolute;
  z-index: 1;
  top: -52%;
  left: 20%;
  font-size: 0.7em;
  transform: translate(-50%, -50%)
}

.cart-button span {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 16px
}

.cart-button span.added {
  opacity: 0
}

.cart-button.clicked .fa-plus {
  animation: addicon 2s ease-in forwards
}

.cart-button.clicked {
  animation: color 2s ease-in forwards
}

.cart-button.clicked .fa-circle-thin {
  animation: circle 1s ease-in forwards
}

.cart-button.clicked .fa-check {
  animation: check 2s ease-in forwards
}

.cart-button.clicked span.add-to-cart {
  animation: addcart 2s ease-in forwards
}

.cart-button.clicked span.added {
  animation: added 2s ease-in forwards
}

@keyframes addicon {
  0% {
    opacity: 1
  }

  30%,
  100% {
    opacity: 0
  }
}

@keyframes circle {
  0% {
    left: -10%
  }

  100% {
    left: 20%
  }
}

@keyframes check {

  0%,
  40% {
    top: -20%
  }

  60% {
    top: 48%
  }

  100% {
    top: 48%
  }
}

@keyframes addcart {

  0%,
  30% {
    opacity: 1
  }

  30%,
  100% {
    opacity: 0
  }
}

@keyframes added {

  0%,
  80% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes color {
  0% {
    background-color: black
  }

  80%,
  100% {
    background-color: green
  }
}
/* ************ */
/* .addCaddyConfirm {
  z-index: 10;
  position: sticky !important;
  top: 10px;
  margin: auto;
  width: 300px;
  text-align: center;
} */


