/* You can add global styles to this file, and also import other style files */
.container {
  margin-top: 70px;
}

.home {
  box-shadow: 10px 10px 5px 0px rgba(255, 127, 80, 0.75);
  background-image: url('/assets/img/desktop.jpg');
  background-position: center;
  height: 600px;
}

/* bouton ajout panier */
#addCaddy:hover {
  background: #272727;
  color: white;
}

#addCaddy {
  background-color: #ff7f50;
  border: 2px solid #272727;
  border-radius: 0;
}

.addCaddyConfirm {
  z-index: 10;
  position: sticky !important;
  top: 10px;
  margin: auto;
  width: 300px;
  text-align: center;
}

.home h1 {
  color: white;
  font-size: 80px;
  text-align: center;
  padding-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0 -1px 4px #FFF,
    0 -2px 10px #ff0,
    0 -10px 20px #ff8000,
    0 -18px 40px #F00;
}

#header {
  background-color: coral;
  margin-bottom: 10px;
}

.card-training {
  box-shadow: 10px 10px 5px 0px rgba(255, 127, 80, 0.75);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 18rem;
}

.logo {
  margin-right: 20px;
  margin-left: 20px;
}

.welcome {
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
}

.error {
  box-shadow: 10px 10px 5px 0px rgba(255, 127, 80, 0.75);
}

table {
  border: 2px solid coral;
  box-shadow: 10px 10px 5px 0px rgba(255, 127, 80, 0.75);
}

.order {
  padding-top: 15px;
}

.orderCard {
  max-width: 900px;
}
